<style>body{padding-top: 0;}</style>
<% if user_signed_in?%>
<!-- <div class="card text-center pop card-tl">
  <p class="lead">Pick</p>
</div>
<div class="card text-center pop card-tr">
  <p class="lead">List</p>
</div>
<div class="card text-center pop card-br">
  <p class="lead">Add</p>
</div>
<div class="card text-center pop card-bl">
  <p class="lead">Friends</p>
</div>
 -->
<% end %>
<script>
  function getLocation(){
    if (navigator.geolocation){
      navigator.geolocation.getCurrentPosition(inserter, err, {timeout:5000, enableHighAccuracy:true});
    }else{
      $('#wtfff').html("Geolocation is not supported by this browser.");
    }
  }
  function err(){
    console.log("geolocation error");
  }
  function inserter(position){
    console.log(position.coords.accuracy);
    $.ajax({
      url: "/searches/set_user_location",
      type: "post",
      data: {lat: position.coords.latitude, lon: position.coords.longitude, acc: position.coords.accuracy},
      //contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data){
        console.log("success");
      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  }
  $(document).ready(function() {
    getLocation();
    var BV = new $.BigVideo();
    BV.init();
    BV.show('foodvideo.mp4',{ambient:true});
  });
</script>

