<div class="container-fixed text-center pop container-fixed" style="width:240px;">
  <% @users.each do |user| %>
    <div class="well text-center">
      <p class="lead"><%= user.username %></p>
      <br>
      <p><strong style="color:orange;"><%= user.restaurants.count %> </strong> Restaurants</p>
      <br>
      <p><%= link_to 'Restaurant List', user, :class => "btn btn-medium btn-primary"%></p>
    </div>
  <% end %>
</div>
