<div id="container">
  <% @users.each do |user| %>
    <div class="item pop card text-center">
      <p class="lead"><%= user.username %></p>
      <br>
      <p><strong style="color:orange;"><%= user.restaurants.count %> </strong> Restaurants</p>
      <br>
      <p><%= link_to 'Restaurant List', user, :class => "btn btn-medium btn-primary"%></p>
    </div>
  <% end %>
</div>

<script>
$(function(){
  var $container = $('#container');
  $('#container').isotope({
    // options
    itemSelector : '.item',
    layoutMode : 'fitRows'
  });
});
</script>
