<h1>Listing restaurants</h1>

<table id="restaurants-table">
  <tr>
    <th>Name</th>
    <th>Cuisine</th>
    <th>Price</th>
    <th>Delivery</th>
    <th>Takeout</th>
    <th>Reservations</th>
    <th>Image</th>
    <th>Yelp url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Restaurant</a>