<% if current_user.locations.count > 0 && (current_user.restaurants.count > 0)%>
<div id="index">
  <div class="bubblingG" style="margin-left:auto; margin-right:auto; margin-top: 150px;">
    <span id="bubblingG_1">
    </span>
    <span id="bubblingG_2">
    </span>
    <span id="bubblingG_3">
    </span>
  </div>
  <div class="text-center addressor" style="display: none;">
    <select id="address_selector">
    <% current_user.locations.each do |location| %>
      <option value=<%= location.id %>>
        <%= location.address %>, <%= location.city %>
      </option>
    <% end %>
      <option value="new">New Address</option>
    </select>
  </div>

  <div id="restaurants" class="text-center"></div>
</div>
<% else %>
  <h3 class="well text-center"style="color:orange;">Add some restaurants to access this feature</h3>
<% end %>
  <div class="well text-center pop" style="margin-top: 100px; width: 360px; margin-left: auto; margin-right: auto; display: none;" id="address_form">
    <form role="form">
      <br>
      <div class="form-group">
        <input type="text" class="form-control text-center" id="address_input" placeholder="Street Address">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control text-center" id="city_input" placeholder="City">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control text-center" id="state_input" placeholder="State">
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-default" id="address_submit">Submit</button>
      <br>
      <br>
    </form>
  </div>
<script>
  $(function(){
    $('#address_selector').val(<%= session[:location_id] %>);
    $('#address_selector').change(function(){
      var selected = $('#address_selector').val();
      if(selected == "new"){
        $('#index').hide();
        $('#address_form').fadeIn('slow');
      }else{
        $.ajax({
          url: "/address_input",
          type: "post",
          data: {location_id: selected},
          //contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){
            window.location.reload();
            console.log("success");
          },
          error: function(jqXHR, textStatus, errorThrown){
            console.log("fail");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
          }
        });
      }
    });
    $('#address_submit').click(function(){
      if($('#address_input').val() && $('#city_input').val() && $('#state_input').val()){
        $.ajax({
          url: "/users/address_input",
          type: "post",
          data: {address: $('#address_input').val(), city: $('#city_input').val(), state: $('#state_input').val()},
          //contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){
            console.log("success");
          },
          error: function(jqXHR, textStatus, errorThrown){
            console.log("fail");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
          }
        });
      }
    });
    $('#address_selector').tooltip({
      title: "set your location",
      placement: 'right',
      container: 'body'
    });
  });
</script>
