// action buttons, address input,
.actions, .addressor, .buttonry {
  display: none;
}

// google map
#map, #map-canvas {
  width: 800px;
  height: 600px;
  margin: 25px auto;
  border-radius: 25px;
}

// google map controls
.gmap img{
  max-width: none;
}

// search card on the add page
.add-search {
  width: 500px;
  margin: auto;
}

// search result div on the pick page
.pick{
  padding: 5px;
  max-width: 500px;
  margin: 20px auto;

  .blockery{
    margin: 0 10px;
  }
}

// sort & filter buttons
.buttonry.btn {
  margin-top: 5px;
  margin-bottom: 10px;
}

// cuisine input
#cuisine-input {
  max-width: 100px;
  text-align: center;
}

// search results on list add
#search-results {
  width: 360px;
  margin: 15px auto 0 auto;
  p{margin-bottom: 0}
}

// location dropdown on list page
.dropdown-menu {
  max-height: 308px;
  overflow: auto;
}

// address form
#address-form {
  margin-top: 100px;
  width: 360px;
  margin: auto;
  display: none;
  input {margin: 5px}
  button {margin: 20px 20px 5px 20px}
}

// add restaurant form
#add-form input{
  text-align: center;
  margin: 5px;
}

// curared list card
.curated-list{
  width: 500px;
  margin: 50px auto;
}

// restaurant card action buttons
.actions .btn-medium {
  width: 80px;
}
.actions .btn-small {
  width: 70px;
  display: inline-block;
}

// bigvideo setup
#big-video-wrap {
  position: absolute;
  height: auto;
  z-index: 0;
}
.vidwrap {
  z-index: 999;
  position: relative;
}
