@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  line-height: 18px;
  cursor: default;
}

pre {
  background-color: #eee;
  padding: 10px;
}

a {
  color: #FFF;
  &:visited {
    color: #FFF;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    cursor: default;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 5px 5px 0 5px;
  background-color: red;
  display: table;
  margin-top: 5px;
  border-radius: 5px;
}

#error_explanation {
  border-radius: 8px;
  width: 450px;
  color: black;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    list-style: square;
  }
}

td:first-child {
  padding-left: 15px;
}

input[type="checkbox"] {
  margin-top: 0px;
}
