@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  background: #000 asset-url("noodles.jpg", image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  line-height: 18px;
  cursor: default;
}

pre {
  background-color: #eee;
  padding: 10px;
}
.nav, .lead, #brand, input, button, h1{
  font-family: 'Raleway', sans-serif;
}

a {
  color: #FFF;
  &:visited {
    color: #FFF;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    cursor: default;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 5px 5px 0 5px;
  background-color: red;
  display: table;
  margin-top: 5px;
  border-radius: 5px;
}

#error_explanation {
  border-radius: 8px;
  width: 450px;
  color: black;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    list-style: square;
  }
}

td:first-child {
  padding-left: 15px;
}

select, option {
  text-align: center;
}

i {
  margin: 8px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="text"] {
  font-family: verdana, arial, helvetica, sans-serif;
  margin-bottom: 0px;
}

strong {
  font-size:18px;
}

form {
  display: inline-block;
  margin: 3px;
}
